<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>mycanvas</title>
<script type="text/javascript">
var stack2D=[
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	

	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	

	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	

	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[0,0,0,0,0, 0,0,0,0,0],	
	[1,0,0,0,0, 0,0,0,0,0],	
	[1,1,0,0,0, 0,0,0,0,0],	

	[1,1,1,0,0, 0,0,0,0,0],	
	[1,1,1,1,1, 1,1,1,0,0],	
	[1,1,1,1,1, 1,1,1,0,0],
	[1,1,1,1,1, 1,1,1,0,0],
	[1,1,1,1,1, 1,1,1,0,0]
];

function myinit(){
	var canvas = document.getElementById('mycan');
	var ctx = canvas.getContext('2d');
	
	for(var i = 0; i<25; i++){
		for(var j = 0; j<10; j++){
			if(stack2D[i][j] == 0){
				ctx.fillStyle = "red";
				ctx.fillRect(j*10, i*10, 9,9)
			}
			if(stack2D[i][j] == 1){
				ctx.fillStyle = "orange";
				ctx.fillRect(j*10, i*10, 9,9)
			}
		}
	}
	
}

</script>
</head>
<body onload ="myinit()">
<canvas id ="mycan" width="400px" height="400">
</canvas>
</body>
</html>