<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>jqtest3</title>
<script src="static/jquery-3.6.1.js"></script>
<script type = "text/javascript">
function myclick(){
	lotto = [1,2,3,4,5,  6,7,8,9,10,
		11,12,13,14,15,  16,17,18,19,20,
		21,22,23,24,25,  26,27,28,29,30,
		31,32,33,34,35,  36,37,38,39,40,
		41,42,43,44,45]
	for( i = 0; i< 1000;i++){
		rnd = parseInt(Math.random()*45);
		tempa = lotto[rnd];
		tempb = lotto[0];
		lotto[0] = tempa;
		lotto[rnd] = tempb;
	}
	console.log(lotto[0]);
	console.log(lotto[1]);
	console.log(lotto[2]);
	console.log(lotto[3]);
	console.log(lotto[4]);
	console.log(lotto[5]);
	console.log(lotto[6]);
// 	var mytds = document.querySelectorAll(".mytd");
// 	var mytds = $(".mytd");
	
	$(".mytd").eq(0).html(lotto[0]);
	$(".mytd").eq(1).html(lotto[1]);
	$(".mytd").eq(2).html(lotto[2]);
	$(".mytd").eq(3).html(lotto[3]);
	$(".mytd").eq(4).html(lotto[4]);
	$(".mytd").eq(5).html(lotto[5]);
	$(".mytd").eq(6).html(lotto[6]);
	
	
}
$(document).ready(function(){
	$("#btn").bind("click", myclick);		  
});
</script>
</head>
<body>
<table>
	<tr>
		<td class="mytd">__</td>
		<td class="mytd">__</td>
		<td class="mytd">__</td>
		<td class="mytd">__</td>
		<td class="mytd">__</td>
		<td class="mytd">__</td>
		<td class="mytd">__</td>
	</tr>
	<tr>
		<td colspan = "6">
			<input type = "button" value = "로또번호 생성하기" onclick="myclick()"/>
			<input id="btn" type = "button" value = "로또번호 생성하기jquery" />
		</td>
	</tr>
</table>
</body>
</html>