<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test2</title>

<script type = "text/javascript">
var com_arr = [1,2,3];

function myinit(){
	comArr();
}
function comArr(){
	var arr = [0,1,2,3,4,5,6,7,8,9];
	for(var i = 0; i<1000; i++){
		var rnd =parseInt(Math.random()*10);
		var tempa = arr[rnd];
		var tempb = arr[0];
		arr[rnd] = tempa;
		arr[0] = tempb;
	}
	com_arr[0] = arr[0]
	com_arr[1] = arr[1]
	com_arr[2] = arr[2]
	console.log(com_arr)
}
function getStrike(com_arr, mine_arr) {
	var cnt = 0;
	if(com_arr[0]==mine_arr[0]) cnt++;
	if(com_arr[1]==mine_arr[1]) cnt++;
	if(com_arr[2]==mine_arr[2]) cnt++;
	return cnt;
}
function getBall(com_arr, mine_arr ) {
	var cnt = 0;
	if(com_arr[0]==mine_arr[1] || com_arr[0]==mine_arr[2]) cnt++;
	if(com_arr[1]==mine_arr[0] || com_arr[1]==mine_arr[2]) cnt++;
	if(com_arr[2]==mine_arr[0] || com_arr[2]==mine_arr[1]) cnt++;
	return cnt;
}

function myclick(){
	var obj_mine = document.querySelector("#it_mine");
	var obj_ta = document.querySelector("#ta");
	
	var mine = obj_mine.value;
	var mine_arr = [-1,-1,-1];
	mine_arr[0] = parseInt(mine.substring(0,1));
	mine_arr[1] = parseInt(mine.substring(1,2));
	mine_arr[2] = parseInt(mine.substring(2,3));

	var strike = getStrike(com_arr,mine_arr);
	var ball = getBall(com_arr,mine_arr);
	
	console.log(strike, ball);
	var str_line = mine +"-"+strike + "S"+ball+"B\n";
	var str_old = obj_ta.value;
	obj_ta.value = str_old+str_line;
	obj_mine.value="";
	
	if(strike ==3){
		alert("당신이 이겼습니다.");
	}
	
}
</script>
</head>
<body onload ="myinit()">
<table>
	<tr colspan="2">
		<td>맞칠수:</td>
		<td colspan="1">
			<input type ="text" id ="it_mine"/>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<input type ="button" value ="맞춰보기" onclick="myclick()"/>
		</td>
	</tr>
	<tr>
		<td colspan = "2">
			<textarea id = "ta" rows = "20" cols="20"></textarea>
		</td>
	</tr>

</table>
</body>
</html>